<div class="headerBarWrapper">
  <div class="orange-strip"></div>
  <div class="black-strip"></div>
</div>
<div class="container">
  <ul>
    <li class="logo"> <img src="./assets/logo2.PNG"></li>
    <li class="store"> Store</li>
    <li class="products">Products & Services</li>
    <li class="help">Help & Support</li>
    <li class="search"><img src="./assets/search.PNG"/></li>
    <li class="personal-div"><i class="dot"></i>
      <i><select class="select" name="profiles" id="profile">
        <option value="personal" selected>PERSONAL</option>
      </select></i></li>
  </ul>
</div>