    <div *ngIf="index==2" class="large-cell">
        <img class="large-box" src="./assets/largeSquare.PNG" />
        <div *ngIf="newTitleArr.length==1"class="large-title" style="margin-left: 32%"> {{title}}</div>
        <div *ngIf="newTitleArr.length!=1"class="large-title"> {{title}}</div>
         <p class="start-here"> START HERE > </p>
        
    </div>
    <div *ngIf="index!=2" class="cell" >
        <img class="small-box" src="./assets/smallSquare.PNG" />
        <div class="text" *ngIf="newTitleArr.length==2">
            <p style='margin-bottom: -10%;'>{{newTitleArr[0]}}</p>
            <p style='margin-left: -5px;'>{{newTitleArr[1]}}</p>
        </div>
        <div class="text" *ngIf="newTitleArr.length>2">
            <p style='margin-bottom: -10%;'>{{newTitleArr[0]}}&nbsp;{{newTitleArr[1]}}</p>
            <p style='margin-left: -5px;'>{{newTitleArr[2]}}</p>
        </div>
        <div class="text" *ngIf="newTitleArr.length==1">
            <p style='margin-bottom: 26px;'>{{newTitleArr[0]}}</p>
        </div>
    </div>

<!-- <div *ngIf="index==2" class="large-cell ">  
   <img  class="box" src="./assets/largeSquare.PNG"/>
  <div style=" margin-top: 200px;"> {{title}}</div>
  <p class="start-here"> START HERE  > </p> 
</div> -->