.text-div {
    margin-left: 239px;
     font-size: 32px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 270px;
    height: 232px;
    margin-top: 58px;
}

.what-are-you {   
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: 85px;
    margin-left: 14px;
}

.here-to-do {   
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -39px;
    margin-left: 14px;
}

.slider {
    position: absolute;
    display: flex;
}

.slider-container {
    display: flex;
    margin-left: 59px
}

.prev-slide {
    left: 401px;
    margin-top: 600px;
    background-color: #D6EAEC;
}

.prev-slide:hover {
    cursor: pointer;
}

.next-slide {
    height: 40px;
    right: 399px;
    margin-top: 600px;
    background-color: #D6EAEC;
}

.control {
    position: absolute;
    width: 40px;
}

.next-slide:hover {
    cursor: pointer;
}

.mySlides {
    border: black;
}

.large-cell {
    top: 0;
    left: 0;
    height: 564PX;
    width: 456px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    user-select: none;
    display: flex;
    margin: 9px;
    margin-top: 116px;
    border-radius: 16px;
    border-bottom: 10px solid #FFC000;
    align-items: center;
    justify-content: center;
    background: #F5F5F5;
    transform-origin: center bottom;
}

.w3-center {
    text-align: center!important
}

.w3-animate-right {
    position: relative;
    animation: animateright 0.4s
}

@keyframes animateright {
    from {
        right: -30px;
        opacity: 0
    }
    to {
        right: 0;
        opacity: 1
    }
}

.w3-animate-left {
    position: relative;
    animation: animateleft 0.4s
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.w3-animate-zoom {
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
@media only screen and(min-width: 1023px) {

}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .text-div {
        margin-left: 41px;
        font-size: 15px;
    }
    .what-are-you {
        font-size: 15px;
    }
    .here-to-do {
        margin-top: -8px;
        font-size: 14px;
    }
    .slider-container {
        position: relative;
        margin-left: 7%;
      
    }
    .prev-slide{
        left: 170px;
        margin-top: 547px;
        }
    .next-slide{
        height: 38px;
        right: 178px;
        margin-top: 554px;
    }
}
@media only screen and (max-width: 767px) {  
    .text-div{
        margin-left: 5%;
        margin-top: -1%;
        font-size: 10px;
    }
    .slider-container{
        margin-left: 20px;
    }
    .next-slide{
       
        margin-top: 522px;
        right: 98px;
    }
    .prev-slide{
        left: 47px;
        margin-top: 523px;

    }
}