.text-div{
  margin-left: 239px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 270px;
  height: 232px;
  margin-top: 58px;
}
.what-are-you{
  font-size: 32px;
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 85px;
  margin-left: 14px;
}
.here-to-do{
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: -39px;
  margin-left: 14px;
}
.slider{
  position: absolute;
  display: flex;

}
.picker {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
}
.prev-slide{
   left: 574px;
  margin-top: 600px;
  background-color:#D6EAEC;
}
.prev-slide:hover {
  cursor: pointer;
}
.next-slide{  
  height:40px;
  right: 573px;
  margin-top: 600px;
  background-color:#D6EAEC;
 
}
.control{
  position: absolute;
  width:40px;
}
.next-slide:hover{
  cursor: pointer;
}
.mySlides{
  border: black;
}
.large-cell {   
  top: 0;
  left: 0;
  height: 564PX;
  width: 456px;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: bold;
  user-select: none;  
  display: flex;
  margin: 9px;
  margin-top: 116px;
  border-radius:16px;
  border-bottom:10px solid #FFC000;
  align-items: center;
  justify-content: center;    
  background:#F5F5F5;
  transform-origin: center bottom;
}

.w3-center{text-align:center!important}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-30px;opacity:0} to{right:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}